<div>  
   <div>
      <h1>
        Student Detail 
      </h1> 
      <ul>
        <li>
            {{name}}
        </li>
        <li>
            {{email}}
        </li>
        <li>
            {{phonenumber}}
        </li>   
      </ul>
       <label>Name: </label> <input type="text" [(ngModel)]="name">
       <label>Email: </label> <input type="text" [(ngModel)]="email">
       <label>Phone: </label> <input type="text" [(ngModel)]="phonenumber">
  </div>
   <hr>
   <br><br>
   <hr>
   <h1> Handling Forms Using Angular </h1>
   <form #myForm="ngForm" (ngSubmit)="saveData(myForm)">
       <table>
        <tr>
       <td><label>Name: </label> </td> <td><input type="text" name="firstName" [(ngModel)]="firstName"></td></tr> 
       <tr> <td><label>Email: </label></td> <td> <input type="text" name="emailId" [(ngModel)]="emailId"></td></tr> 
       <tr> <td><label>Phone: </label></td><td><input type="text" name="phoneNumber" [(ngModel)]="phoneNumber"></td></tr> 
       <tr> <td><label>Street Address 1: </label></td> <td><input type="text" name="streetAddress1" [(ngModel)]="streetAddress1"></td></tr> 
       <tr> <td><label>Street Address 2: </label></td> <td><input type="text" name="streetAddress2" [(ngModel)]="streetAddress2"></td></tr> 
       <tr> <td><label>City: </label></td> <td><input type="text" name="city" [(ngModel)]="city"></td></tr> 
       <tr> <td><label>County: </label></td> <td><input type="text" name="county" [(ngModel)]="county"></td></tr> 
       <tr> <td><label>State: </label></td> <td><input type="text" name="state" [(ngModel)]="state"></td></tr> 
       <tr> <td><button type="submit">Submit</button></td></tr>
      </table>
  </form> 
  <br>  
  <br>
  <div>
      
      <table>
         
            <tr bgcolor="gray">
              <td>
               <strong> Name </strong>
              </td>
              <td>
                <strong>Email</strong>
              </td>
              <td>
                <strong>Phone Number</strong>
                </td>
                 <td>
                <strong>Street Address</strong>
                </td>
                 <td>
                <strong>City</strong>
                </td>
                 <td>
                <strong>County</strong>
                </td>
                 <td>
                <strong>State</strong>
                </td>
                 <td>
               <strong> Action </strong>
                </td>
            </tr>       
        
            <tr *ngFor="let entry of entries; let i = index">
                <td>
                  {{entry.firstname}}
                </td>
                <td>
                  {{entry.emailId}}
                </td>
                <td>
                  {{entry.phoneNumber}}
                </td>
                <td>
                  {{entry.address.streetAddress1}} {{entry.address.streetAddress2}}
                </td>
                <td>
                  {{entry.address.city}} 
                </td>
                <td>
                  {{entry.address.county}} 
                </td>
                <td>
                  {{entry.address.state}} 
                </td>
                <td>
                   <input type="button" value="Delete" (click)="deleteEntry(i)">
                </td>
            </tr>
        
      </table>
      
  </div>  
  <hr>
  <div>
     <input type="button" value="Post Data" (click)="postData()"> <br>
     <span>Title: {{title}}</span> <br>
     <span>Body: {{body}}</span>
  </div>
</div>